body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.page-span {
  color: #2e2f42;
}
.menu-link-iteam {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link-iteam:hover {
  color: #404bbf;
}
.menu-link-iteam:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover {
  color: #404bbf;
}
.contacts-link:focus {
  color: #404bbf;
}

/*........... Section 1............ */

.page-section-one {
  background-color: #2e2f42;
}
.title-section-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-section-one {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-section-one:hover,
.button-section-one:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/*............... /Section 1........... */

/* ................Section 2 .............. */

.title-section-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-section-two {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .........../Section 2.............. */

/* ..............Section 3............ */
.page-section-three {
  background-color: #f4f4fd;
}
.item-section-three {
  background-color: #ffffff;
}
.title-section-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.title-imeges-our-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-imeges-our-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ............/Section 3 ........... */

/* ..............Section 4.............. */
.title-section-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.title-imeges-our-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph-images-our-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-section-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* .................../Section 4.............. */

/* ....................Footer.............. */
.page-footer-one {
  background-color: #2e2f42;
}
.link-page-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.page-footer-span {
  color: #f4f4fd;
}
.paragraph-page-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
/* .............../Footer................ */
