body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/* ====Клас який приховує ========*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==== /Клас який приховує ========*/

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/* ===============HEADER============== */
.main-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.page-span {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-iteam {
  padding: 24px 0;
}

.menu-link-iteam {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu-link-iteam:hover {
  color: #404bbf;
}
.menu-link-iteam:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list-address {
  display: flex;
  gap: 40px;
}

.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover {
  color: #404bbf;
}
.contacts-link:focus {
  color: #404bbf;
}

/* ==============/HEADER=============== */

/*........... Section 1............ */

.page-section-one {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0;
}
.page-section-1 {
  align-items: center;
}

.title-section-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.button-section-one {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  outline: none;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-section-one:hover,
.button-section-one:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/*............... /Section 1........... */

/* ................Section 2 .............. */
.page-section-two {
  padding: 120px 0;
}
.list-section-two {
  display: flex;
  gap: 24px;
}
.item-section-two {
  width: calc((100% - 3 * 24px) / 4);
}
.title-section-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.paragraph-section-two {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .........../Section 2.............. */

/* ..............Section 3............ */
.page-section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.title-section-three {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}

.list-section-three {
  display: flex;
  gap: 24px;
}
.item-section-three {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.description-our-team {
  padding: 32px 0px;
}
.title-imeges-our-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.paragraph-imeges-our-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ............/Section 3 ........... */

/* ..............Section 4.............. */
.page-section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.title-section-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.title-imeges-our-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.paragraph-images-our-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.list-section-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-section-four {
  width: calc((100% - 48px) / 3);
}
.description-our-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* .................../Section 4.............. */

/* ....................Footer.............. */
.page-footer-one {
  background-color: #2e2f42;
  padding: 100px 0px;
}
.link-page-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.page-footer-span {
  color: #f4f4fd;
}
.paragraph-page-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
/* .............../Footer................ */
